body {
  font-family: Helvetica;
  text-align: center;
}
a {
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
.header {
  padding-bottom: 6px;
}
.bar {
  color: white;
  background-image: url("../Images/the-flatiron-building.png");
}
.foot {
  color: white;
  text-align: left;
  background-color: dimgray;
}
